@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Serif:ital@1&family=Pacifico&family=Playfair+Display:ital@1&family=Shadows+Into+Light&display=swap');

*{
  box-sizing: 100%;
  margin: 0;
  padding: 0;
};

h1,h2,h3,h4,h5,h6{
  margin-right:auto
}

.navbar{
  width: 100%;
  height: 80px;
  margin:0px;
  padding:0;
  display:flex;
  justify-content: space-between;
  background-color: #24252a;
  align-items:center;
  right:0px
}

.name{
  font-family:"Playfair Display","Shadows Into Light","Bebas Neue","sans-serif";
  color:white;
  font-size:40 px;
  align-items: center;
}

nav_links li,a{
  font-family:"PT Serif","Montsserrat",sans-serif;
  right:0px;
  margin-left:auto;
  font-weight: 500;
  font-size:24px;
  color:#ffffff;
  background-color: #24252a;
  text-decoration: none;
}

a:visited{
  color:#edf0f1;
}

header{
  display:flex-end;
  align-items: center;
  padding:0px;
}

.logo{
  margin-right: auto
}

.nav_links li{
  display: inline-block;
  padding:0px 20px;
}

.nav_links li a:hover{
  color:#0088a9;
}

.light{
  background-color: white;
}

.dark{
  width: 100%;
  background-color: #24252a;
  color:white
}

.light button{
  padding:14px 40px;
  border-radius:8px;
  transition-duration:1s;
  background-color:#24252a;
  font-family:Pacifico;
  font-size:16px;
  color:white;
  position:absolute;
  bottom:2%;
  left:2%;
}

.light button:hover{
  background-color:aqua;
  color:black
}

.dark button{
  color:black;
  background-color: white;
  padding:14px 40px;
  border-radius:8px;
  transition-duration: 1s;
  color:black;
  font-family:Pacifico;
  font-size:16px;
  position:absolute;
  bottom:2%;
  left:2%;
}

.dark button:hover{
  background-color:aqua;
}